{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-styled-components",
    "stylelint-config-prettier"
  ],
  "customSyntax": "@stylelint/postcss-css-in-js",
  "rules": {
    "no-empty-first-line": null,
    "scss/operator-no-unspaced": null,
    "value-keyword-case": null
  }
}
